<div class="parabody">
    <h2>{{titolo}} </h2>
    <div class="contenitore">
        <app-immagine></app-immagine>
        <app-immagine></app-immagine>
        <app-immagine></app-immagine>
        <app-immagine></app-immagine>
    </div>
    <div>
        Ogni component è composto da:<br>
        <ul>
            <li>Un file typescript contenente una classe che specifica il comportamento del component</li>
            <li>Un file HTML che specifica il template del component (ovvero quello che viene visualizzato sulla pagina
            </li>
            <li>Un selettore, che viene utilizzato nei template di altri component per incorporarlo</li>
            <li>Un file CSS (opzionale) che definisce lo stile specifico per quel component</li>
        </ul>
    </div>
</div>