#boxTasti {
    padding: 10px;
    display: flex; /*Applica un layout flessibile al contenitore*/
    flex-wrap: wrap;/**/
  }
  

  .tasto {
    display: inline-block;
    padding: 2px;
    flex: 0 0 calc(33.33% - 10px); /* Calcoliamo la larghezza per 3 pulsanti in una riga con margini di 2px */
    box-sizing: border-box; /* Considera il padding e il bordo nella larghezza */
    text-align: center;
  }

  button {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 25%;
    cursor: pointer;
    width: 100%;
  }

  
