<!--Creo i pulsanti per i numeri e gli operatori-->


<div id="boxTasti">

        <div *ngFor ="button of buttons ; index as i " class="tasto">    
            <button [ngClass]="buttons[i]" (click)="inserisciNumero(i)"> {{buttons[i].name}} </button>
        </div>


        <!--  
            <div *ngFor ="button of buttons ; index as i " class="tasto">    
                <button [ngClass]="buttons[i].style" (click)="inserisciNumero(i)"> {{buttons[i].name}} </button>
            </div>
        -->
    <!--
        <div class="tasto">
            <button>1</button>
        </div>
        <div class="tasto">
            <button>2</button>
        </div>
        <div class="tasto">
            <button>3</button>
        </div> 
        <div class="tasto">
            <button>/</button>
        </div>     
   


    
        <div class="tasto">
            <button>4</button>
        </div>
        <div class="tasto">
            <button>5</button>
        </div>
        <div class="tasto">
            <button>6</button>
        </div>
        <div class="tasto">
            <button>-</button>
        </div>      
    




    
        <div class="tasto">
            <button>7</button>
        </div>
        <div class="tasto">
            <button>8</button>
        </div>
        <div class="tasto">
            <button>9</button>
        </div>
        <div class="tasto">
            <button>x</button>
        </div>     
    


    
    
        <div class="tasto">
            <button>0</button>
        </div>
       
        <div class="tasto">
            <button >.</button>
        </div>
        <div class="tasto">
            <button>=</button>
        </div>
        <div class="tasto">
            <button>+</button>
        </div>     
         -->
    

</div><!--boxTasti-->